
<!------ LOGIN FORM ERRORS  ---------->
<div class="container1">
<h2>
<%= form_tag do %>
  <% if flash[:alert] %>
     <div id="error_explanation">
      <h1 style="font-family:courier; font-size:12px;"><font color="red"><%= flash[:alert]%></h1>
      <h1 style="font-family:courier; font-size:12px;" align="left"><% shift_job.errors.full_messages.each do |message| %>
        <li style="font-family:courier; font-size:12px;"><%= message %></li>
      <% end %></h1>
    </div>
<% end %>


<!------ USER LOGIN FORM TABLE  ---------->
<table class="table" cellspacing="5" width="50%" cellpadding="5" style="font-family:courier; font-size:12px;">
<thead><p style="font-family:courier; font-size:18px;" align="left"><strong>Sign In</strong></p>
<thead align="right">
<tr align="right">
    <td>
<button class="button1"><%= link_to 'New User', new_user_path %>
    </td>
</tr>
      <td>
      <div class="field">
        <%= label_tag :email %>
    <b><%= text_field_tag :email, params[:email] %></b>
      </div>
    </td>
</tr>
<tr>
  <td>
       <div class="field">
         <%= label_tag :password %>
    <%= password_field_tag :password%>
       </div>
  </td>
</tr>
<tr bgcolor="#008000">
  <td>
    <div class="actions">
    <%= submit_tag "Log In" %>
    </div>
  </td>
</tr>
</table>

</h2>
<% end %>
</div>
<br><br>

<!------ CSS STYLING FOR EMPLOYEES FORM ---------->
<style>
h3 {
    font-size: 1.5em;
    background-color: #FFFF;
    outline: 1px solid #FF0999;
    margin: 200px;
    padding: 0px;
}
  h2 {
    font-size: 1.5em;
    background-color: #FFFF;
    outline: 1px solid #FF0999;
    margin: 100px;
    padding: 20px;
    margin-right: 300px;
    margin-left: 300px;
}
h1 {
    font-size: 1.5em;
    font-family: garamond;
    outline: 5px dotted #FF0999;
    background-color: #FFFF;
    margin: 30px;
    padding: 30px;
}
h4 {
    font-size: 1.5em;
    font-family: garamond;
    outline: none;
    background-color: #FFFF;
    margin: 100px;
    padding: 0px;
}
.container1 {
    font-size: 1.5em;
    font-family: garamond;
    outline: 2px dashed blue;
    background-color: #FFFF;
    margin: 30px;
    padding: 30px;
    background-image: url("https://images.unsplash.com/photo-1512223792601-592a9809eed4?ixlib=rb-1.2.1&auto=format&fit=crop&w=608&q=80");
    height: auto; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container2 {
    font-size: 1em;
    font-family: courier;
    outline: 2px solid #FF0999;
    background-color: #FFF;
    margin: 0px;
    padding: 0px;
    position:fixed;
    left:0px;
    bottom:0px;
    height:70px;
    width:100%;
}
th, td {
  border-bottom: 0.5px solid #ddd;
}
tr:hover {
  background-color: #ffdccc;
  
}
.button1 {
  background-color: #b3fff0;
  border: 10px;
  color: white;
  margin: 3px;
  padding: 2px 25px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 12px;
}

.button1:hover {
  background-color: blue;
}
.button2 {
  background-color: #ff9666;
  border: 10px;
  color: white;
  margin: 3px;
  padding: 2px 25px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 12px;
}

.button2:hover {
  background-color: blue;
}
.button3 {
  background-color: #ffcc00;
  border: 10px;
  color: white;
  margin: 3px;
  padding: 2px 25px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 12px;
}

.button3:hover {
  background-color: blue;
}
.button4 {
  background-color: lightpink;
  border: 0px;
  color: white;
  margin: 3px;
  padding: 10px 50px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 12px;
}

.button4:hover {
  background-color: blue;
}
.button5 {
  background-color: #FF0999;
  border: 0px;
  color: white;
  margin: 3px;
  padding: 10px 50px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 12px;
}

.button5:hover {
  background-color: blue;
}
.button6 {
  background-color: #f9d2f9;
  border: 10px solid blue;
  color: white;
  margin: 3px;
  padding: 10px 50px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 12px;
}

.button6:hover {
  background-color: #f9d2f9;
}
a {
  color: black;
}
a:hover {
  color: hotpink;
}
body {
      background-color: #331a00;
  }
</style>


</html>