<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
   <!-- DASHBOARD -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/" style="font-family:Didot, serif; font-size:20px; color:#FF0999;">A&M Crémerie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/" style="font-family:courier; font-size:12px;">DASHBOARD<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="font-family:courier; font-size:12px;">MY PROFILE</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ NAVIGATION BAR START ---------->
<br><br>
  <h1 align="center" style="font-family:didot;">
   <button class="button4"><%= link_to 'Employees', employees_path %></button>
    &nbsp&nbsp
  <button class="button4"><%= link_to 'Stores', stores_path %></button>
    &nbsp&nbsp
  <button class="button5"><%= link_to 'Assignments', assignments_path %></button>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <button class="button6"><%= link_to 'New Assignment', new_assignment_path%></button>
  </h1>
  
<!------ SHOW ASSIGNMENT TABLE START ---------->
<div class="container1">
<font color="#00cca3"><h4 id="notice"><%= notice %></h4></font>
<h2>
<table class="table" cellspacing="5" width="50%" cellpadding="5" style="font-family:courier; font-size:22px;">
<thead><p style="font-family:courier; font-size:22px;" align="center"><font color="turquoise"><strong>Assignment No. <%=@assignment.id%></strong></p>
<thead align="right">
<tr align="right">
    <td>
      Store ID:
    </td>
    <td align="left">
      <%= @assignment.store_id %>
    </td>
<tr>
  <td>
    Employee ID:
  </td>
  <td align="left">
    <%= @assignment.employee_id %>
  </td>
</tr>
<tr>
  <td>
    Start Date:
  </td>
  <td align="left">
    <%= @assignment.start_date %>
  </td>
</tr>
<tr>
  <td>
    End Date:
  </td>
  <td align="left">
    <%= @assignment.end_date %>
  </td>
</tr>
<tr>
  <td>
    Pay Level:
  </td>
  <td align="left">
    <%= @assignment.pay_level %>
  </td>
</tr>
<tr>
  <td>
    <button class="button1"><%= link_to 'Back', assignments_path %>
  </td>
  <td align="left">
    <button class="button1"><%= link_to 'Edit', edit_assignment_path(@assignment) %>
  </td>
</tr>
</table>
</h2>
</div> 
<br>
<br>

<!------ CSS STYLING FOR SHOW ASSIGNMENT ---------->
<style>
h3 {
    font-size: 1.5em;
    background-color: #FFFF;
    outline: 1px solid #FF0999;
    margin: 200px;
    padding: 0px;
}
  h2 {
    font-size: 1.5em;
    background-color: #FFFF;
    outline: 1px solid #FF0999;
    margin: 100px;
    padding: 20px;
    margin-right: 300px;
    margin-left: 300px;
}
h1 {
    font-size: 1.5em;
    font-family: garamond;
    outline: 5px dotted #FF0999;
    background-color: #FFFF;
    margin: 30px;
    padding: 30px;
}
h4 {
    font-size: 1.5em;
    font-family: courier;
    outline: none;
    background-color: #FFFF;
    margin: 100px;
    padding: 0px;
}
.container1 {
    font-size: 1.5em;
    font-family: garamond;
    outline: 5px dotted #FF0999;
    background-color: #FFFF;
    margin: 30px;
    padding: 30px;
    background-image: url("https://images.unsplash.com/photo-1535384515441-5a7293014fce?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
    height: auto;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
.container2 {
    font-size: 1em;
    font-family: courier;
    outline: 2px solid #FF0999;
    background-color: #FFF;
    margin: 0px;
    padding: 0px;
    position:fixed;
    left:0px;
    bottom:0px;
    height:70px;
    width:100%;
}
th, td {
  border-bottom: 0.5px solid #ddd;
}
tr:hover {
  background-color: #ffdccc;
  
}
.button1 {
  background-color: #b3fff0;
  border: 10px;
  color: white;
  margin: 3px;
  padding: 2px 25px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 12px;
}

.button1:hover {
  background-color: blue;
}
.button2 {
  background-color: #ff9666;
  border: 10px;
  color: white;
  margin: 3px;
  padding: 2px 25px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 12px;
}

.button2:hover {
  background-color: blue;
}
.button3 {
  background-color: #ffcc00;
  border: 10px;
  color: white;
  margin: 3px;
  padding: 2px 25px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 12px;
}

.button3:hover {
  background-color: blue;
}
.button4 {
  background-color: lightpink;
  border: 0px;
  color: white;
  margin: 3px;
  padding: 10px 50px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 12px;
}

.button4:hover {
  background-color: blue;
}
.button5 {
  background-color: #FF0999;
  border: 0px;
  color: white;
  margin: 3px;
  padding: 10px 50px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 12px;
}

.button5:hover {
  background-color: blue;
}
.button6 {
  background-color: violet;
  border: 0px;
  color: white;
  margin: 3px;
  padding: 10px 50px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 12px;
}

.button6:hover {
  background-color: yellow;
}
a {
  color: black;
}
a:hover {
  color: hotpink;
}
body {
      background-color: #331a00;
  }
</style>

<!------ FOOTER ---------->
<div class="container2">
<div id="copyright" align="center"><font color="#FF0999">
  <br>
  Webmaster: <a href= mail_to "lenal@andrew.cmu.edu">Lena Li</a> Copyright © 2019
  <br><br>
   ♡
  <br><br></font>
</div>
</div>

</html>
