
<!------ STORES FORM ERRORS ---------->
<div class="container1">
<h2>
<%= simple_form_for(@store) do |f| %>
  <% if store.errors.any? %>
     <div id="error_explanation">
      <h1 style="font-family:courier; font-size:12px;"><font color="red"><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h1>
      <h1 style="font-family:courier; font-size:12px;" align="left"><% store.errors.full_messages.each do |message| %>
        <li style="font-family:courier; font-size:12px;"><%= message %></li>
      <% end %></h1>
    </div>
<% end %>

<!------ STORES FORM TABLE ---------->
<table class="table" cellspacing="5" width="50%" cellpadding="5" style="font-family:courier; font-size:12px;">
<thead><p style="font-family:courier; font-size:16px;" align="left"><strong>A&M Store Information</strong></p>
<thead align="right">
<tr align="right">
    <td>
      <div class="input-field">
        <%= f.input :name %>
      </div>
    </td>
<tr>
  <td>
    <div class="input-field">
    <%= f.input :street %>
    </div>
  </td>
</tr>
<tr>
  <td>
       <div class="input-field">
         <%= f.input :city %>
       </div>
  </td>
</tr>
<tr>
  <td>
    <div class="input-field">
      <%= f.input :state %>
    </div>
  </td>
</tr>
<tr>
  <td>
    <div class="input-field">
      <%= f.input :zip %>
    </div>
  </td>
</tr>
<tr>
  <td>
    <div class="input-field">
    <%= f.input :phone %>
    </div>
  </td>
</tr>
<tr>
  <td>
    <div class="input-field">
    <%= f.input :latitude %>
    </div>
  </td>
</tr>
<tr>
  <td>
    <div class="input-field">
    <%= f.input :longitude %>
    </div>
  </td>
</tr>
<tr>
  <td>
    <div class="input-field">
    <%= f.input :active %>
    </div>
  </td>
</tr>
<tr bgcolor="#cc0052">
  <td>
    <div class="form-actions">
    <%= f.button :submit %>
    </div>
  </td>
</tr>
</table>
</h2>
<% end %>
</div>
</body>
<br><br>

<!------ CSS STYLING FOR STORES FORM ---------->
<style>
h3 {
    font-size: 1.5em;
    background-color: #FFFF;
    outline: 1px solid #FF0999;
    margin: 200px;
    padding: 0px;
}
  h2 {
    font-size: 1.5em;
    background-color: #FFFF;
    outline: 1px solid #FF0999;
    margin: 100px;
    padding: 20px;
    margin-right: 300px;
    margin-left: 300px;
}
h1 {
    font-size: 1.5em;
    font-family: garamond;
    outline: 5px dotted #FF0999;
    background-color: #FFFF;
    margin: 30px;
    padding: 30px;
}
h4 {
    font-size: 1.5em;
    font-family: garamond;
    outline: none;
    background-color: #FFFF;
    margin: 100px;
    padding: 0px;
}
.container1 {
    font-size: 1em;
    font-family: garamond;
    outline: 2px dashed blue;
    background-color: #FFFF;
    margin: 30px;
    padding: 30px;
    background-image: url("https://images.unsplash.com/photo-1496280307390-7f58b19658b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=802&q=80");
    height: auto; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container2 {
    font-size: 1em;
    font-family: courier;
    outline: 2px solid #FF0999;
    background-color: #FFF;
    margin: 0px;
    padding: 0px;
    position:fixed;
    left:0px;
    bottom:0px;
    height:70px;
    width:100%;
}
th, td {
  border-bottom: 0.5px solid #ddd;
}
tr:hover {
  background-color: #ffdccc;
  
}
.button1 {
  background-color: #b3fff0;
  border: 10px;
  color: white;
  margin: 3px;
  padding: 2px 25px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 12px;
}

.button1:hover {
  background-color: blue;
}
.button2 {
  background-color: #ff9666;
  border: 10px;
  color: white;
  margin: 3px;
  padding: 2px 25px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 12px;
}

.button2:hover {
  background-color: blue;
}
.button3 {
  background-color: #ffcc00;
  border: 10px;
  color: white;
  margin: 3px;
  padding: 2px 25px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 12px;
}

.button3:hover {
  background-color: blue;
}
.button4 {
  background-color: lightpink;
  border: 0px;
  color: white;
  margin: 3px;
  padding: 10px 50px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 12px;
}

.button4:hover {
  background-color: blue;
}
.button5 {
  background-color: #FF0999;
  border: 0px;
  color: white;
  margin: 3px;
  padding: 10px 50px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 12px;
}

.button5:hover {
  background-color: blue;
}
.button6 {
  background-color: #f9d2f9;
  border: 10px solid blue;
  color: violet;
  margin: 3px;
  padding: 10px 50px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 12px;
}
body {
      background-color: #331a00;
  }

.button6:hover {
  background-color: #f9d2f9;
}
a {
  color: black;
}
a:hover {
  color: hotpink;
}
a1 {
  color: blue;
}
a1:hover {
  color: #FF0999;
}
</style>


</html>


