<h1>Active Jobs</h1>
<h3>
<p id="notice"><%= notice %></p>
<table id="dt-select" class="table" cellspacing="5" cellpadding="5" style="font-family:courier; font-size:12px;">
            <th>Job Name</th>
            <th>Job Description</th>
          </tr>
        </thead>
        <tbody>
          <% @active_jobs.each do |job| %>
            <tr>
              <td><%= link_to job.name, job_path(job) %></td>
              <td><%= job.description %></td>     
        <td><button class="button1"><%= link_to 'Show', job %></td>
        <td><button class="button2"><%= link_to 'Edit', edit_job_path(job) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
</h3>

<!------ CSS STYLING FOR flavor INDEX ---------->
<style>
  body {
    background-color: #331a00;
    background-image: url("https://images.unsplash.com/photo-1549592406-df12b3464e78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      
  }
  h3 {
    font-size: 1.5em;
    background-color: #FAFAFA;
    outline: 5px solid #FF0999;
    margin: 30px;
    padding: 0px;
}
h1 {
    font-size: 1.5em;
    font-family: garamond;
    outline: 5px dotted #FF0999;
    background-color: #FAFAFA;
    margin: 30px;
    padding: 30px;
}
th, td {
  border-bottom: 0.5px solid #ddd;
}
tr:hover {
  background-color: #ffdccc;
  
}
.button1 {
  background-color: #b3fff0;
  border: 10px;
  color: white;
  margin: 3px;
  padding: 2px 25px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 12px;
}

.button1:hover {
  background-color: blue;
}
.button2 {
  background-color: #ff9666;
  border: 10px;
  color: white;
  margin: 3px;
  padding: 2px 25px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 12px;
}

.button2:hover {
  background-color: blue;
}
.button3 {
  background-color: #ffcc00;
  border: 10px;
  color: white;
  margin: 3px;
  padding: 2px 25px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 12px;
}

.button3:hover {
  background-color: blue;
}
.button4 {
  background-color: lightpink;
  border: 0px;
  color: white;
  margin: 3px;
  padding: 10px 50px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 12px;
}

.button4:hover {
  background-color: blue;
}
.button5 {
  background-color: #FF0999;
  border: 0px;
  color: white;
  margin: 3px;
  padding: 10px 50px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 12px;
}

.button5:hover {
  background-color: blue;
}
.button6 {
  background-color: violet;
  border: 0px;
  color: white;
  margin: 3px;
  padding: 10px 50px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 12px;
}
.button6:hover {
  background-color: yellow;
}
a {
  color: black;
}
a:hover {
  color: hotpink;
}
.container2 {
    font-size: 1em;
    font-family: courier;
    outline: 2px solid #FF0999;
    background-color: #FFF;
    margin: 0px;
    padding: 0px;
    position:fixed;
    left:0px;
    bottom:0px;
    height:70px;
    width:100%;
}
</style> 
