<p>&nbsp;</p>

<div class="container1">

	<h1>Today's Shifts</h1>
	
		<% unless @today_shifts.nil? or @today_shifts.empty? %>
		<h3>
			<table id="dt-select" class="table" cellspacing="5" cellpadding="5" style="font-family:courier; font-size:12px;">
			    <thead>
			      <tr>
			        <th>Date</th>
			        <th>Start Time</th>
			        <th>End Time</th>
			        <th>&nbsp;</th>
			      </tr>
			    </thead>
			    <tbody>
			      <% @today_shifts.each do |shift| %>
			        <tr>
			          <td><%= shift.date.strftime("%m/%d/%y") %></td>
			          <td><%= shift.start_time.localtime.strftime("%I:%M %p") %></td>
			          <td><%= shift.end_time.localtime.strftime("%I:%M %p") %></td>
			          <% if Time.now.strftime("%H:%M %p") > shift.end_time.strftime("%H:%M %p") %>
				          <td>
				          	<div id = "view-jobs-button">
				            <%= link_to(shift_path(shift), class: 'button tiny radius warning') do %>
				              &nbsp;View Jobs&nbsp;
				            <% end %>
				        	</div>
		          		  </td>
	          		  <% else %>
			        	 	<td>&nbsp;</td>
	          		  <% end %>

			        </tr>
			      <% end %>
			    </tbody>
		  </table>
		  </h3>
	  <%= will_paginate @today_shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next", param_name: "today_shifts" %>  

	  <% else %>
	  <h3>You have no shifts today.</h3>
	  <% end %>
	 </div>

	 <p>&nbsp;</p>

	<div class="container1">
		<h1>Past Shifts</h1>

    <% if @past_shifts.empty? %>
	  	<h3>You have no past shifts.</h3>
	  
	      <% else %>
	      <h3>
		<table id="dt-select" class="table" cellspacing="5" cellpadding="5" style="font-family:courier; font-size:12px;">
		    <thead>
		      <tr>
		        <th>Date</th>
		        <th>Start Time</th>
		        <th>End Time</th>
		        <th>&nbsp;</th>
		      </tr>
		    </thead>
		     <% end %>
		    <tbody>
		      <% @past_shifts.each do |shift| %>
		        <tr>
		          <td><%= shift.date.strftime("%m/%d/%y") %></td>
		          <td><%= shift.start_time.localtime.strftime("%I:%M %p") %></td>
		          <td><%= shift.end_time.localtime.strftime("%I:%M %p") %></td>
		          <% if shift.completed? %>
			          <td>
			          	<button class="button1">
			            <%= link_to(shift_path(shift), class: 'button tiny radius warning') do %>
			              &nbsp;View Shift&nbsp;
			            <% end %>
			        	</button>
	          		  </td>
	          	  <% else %>
	          	  	<td>&nbsp;</td>
          		  <% end %>
		        </tr>
		      <% end %>
		    </tbody>
	  </table>
	  </h3>
	  <%= will_paginate @past_shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next", param_name: "past_shifts" %>  
	 </div>


	<div class="container1">
		<h1>Upcoming Shifts</h1>

    <% if @upcoming_shifts.empty? %>
	  	<h3>You have no past shifts.</h3>
	  
	  <% else %>
	      <h3>
		<table id="dt-select" class="table" cellspacing="5" cellpadding="5" style="font-family:courier; font-size:12px;">
		    <thead>
		      <tr>
		        <th>Date</th>
		        <th>Start Time</th>
		        <th>End Time</th>
		        <th>&nbsp;</th>
		      </tr>
		    </thead>
		     <% end %>
		    <tbody>
		      <% @upcoming_shifts.each do |shift| %>
		        <tr>
		          <td><%= shift.date.strftime("%m/%d/%y") %></td>
		          <td><%= shift.start_time.localtime.strftime("%I:%M %p") %></td>
		          <td><%= shift.end_time.localtime.strftime("%I:%M %p") %></td>
		          <% if shift.completed? %>
			          <td>
			          	<button class="button1">
			            <%= link_to(shift_path(shift), class: 'button tiny radius warning') do %>
			              &nbsp;View Shift&nbsp;
			            <% end %>
			        	</button>
	          		  </td>
	          	  <% else %>
	          	  	<td>&nbsp;</td>
          		  <% end %>
		        </tr>
		      <% end %>
		    </tbody>
	  </table>
	  </h3>
	  <%= will_paginate @upcoming_shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next", param_name: "past_shifts" %>  
	 </div>
<!------ CSS STYLING FOR EMPLOYEE INDEX ---------->
<style>
  h3 {
    font-size: 1.5em;
    font-family: courier;
    background-color: #FFFF;
    outline: 5px solid #FF0999;
    margin: 30px;
    padding: 0px;
}
h1 {
    font-size: 1.5em;
    font-family: garamond;
    outline: 5px dotted #FF0999;
    background-color: #FFFF;
    margin: 30px;
    padding: 30px;
}
th, td {
  border-bottom: 0.5px solid #ddd;
}
tr:hover {
  background-color: #ffdccc;
  
}
.button1 {
  background-color: #b3fff0;
  border: 10px;
  color: white;
  margin: 3px;
  padding: 2px 25px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 12px;
}

.button1:hover {
  background-color: blue;
}
.button2 {
  background-color: #ff9666;
  border: 10px;
  color: white;
  margin: 3px;
  padding: 2px 25px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 12px;
}

.button2:hover {
  background-color: blue;
}
.button3 {
  background-color: #ffcc00;
  border: 10px;
  color: white;
  margin: 3px;
  padding: 2px 25px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 12px;
}

.button3:hover {
  background-color: blue;
}
.button4 {
  background-color: lightpink;
  border: 0px;
  color: white;
  margin: 3px;
  padding: 10px 50px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 12px;
}

.button4:hover {
  background-color: blue;
}
.button5 {
  background-color: #FF0999;
  border: 0px;
  color: white;
  margin: 3px;
  padding: 10px 50px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 12px;
}

.button5:hover {
  background-color: blue;
}
.button6 {
  background-color: violet;
  border: 0px;
  color: white;
  margin: 3px;
  padding: 10px 50px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 12px;
}

.button6:hover {
  background-color: yellow;
}
a {
  color: black;
}
a:hover {
  color: hotpink;
}
a1 {
  color: blue;
}
a1:hover {
  color: #FF0999;
}
body {
      background-color: #331a00;
      background-image: url("https://images.unsplash.com/photo-1551529563-fce9529e67ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1617&q=80");
    height: auto; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.container2 {
    font-size: 1em;
    font-family: courier;
    outline: 2px solid #FF0999;
    background-color: #FFF;
    margin: 0px;
    padding: 0px;
    position:fixed;
    left:0px;
    bottom:0px;
    height:70px;
    width:100%;
}
</style> 

	 

</div>