<% if logged_in? and current_user.role? :admin %>
<!------shifts ALL INDEX TABLE START ---------->

<div class="dropdown">
<button class="button5">Incomplete Shifts</button>
<div class="dropdown-content">
<%=render partial: "incomplete_shifts" %>
</div>
</div>

<div class="dropdown">
<button class="button5">Completed Shifts</button>
<div class="dropdown-content">
<%=render partial: "completed_shifts" %>
</div>
</div>


<div class="dropdown">
<button class="button5">Completed Past Shifts</button>
<div class="dropdown-content">
<%=render partial: "completed_past_shifts" %>
</div>
</div>


<div class="dropdown">
<button class="button5">Incomplete Past Shifts</button>
<div class="dropdown-content">
<%=render partial: "incomplete_past_shifts" %>
</div>
</div>


<div class="dropdown">
<button class="button5">Upcoming Shifts</button>
<div class="dropdown-content">
<%=render partial: "upcoming_shifts" %>
</div>
</div>



 <%= render partial: "all_shifts" %>

<%else%>
<h1>Sorry, you are not allowed to view this page.</h1>
<%end%>


<!------ CSS STYLING FOR STORES INDEX ---------->
<style>

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

  body {
    background-color: #331a00;
    background-image: url("https://images.unsplash.com/photo-1549592406-df12b3464e78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      
  }
  h3 {
    font-size: 1.5em;
    background-color: #FAFAFA;
    outline: 5px solid #FF0999;
    margin: 30px;
    padding: 0px;
}
h1 {
    font-size: 1.5em;
    font-family: garamond;
    outline: 5px dotted #FF0999;
    background-color: #FAFAFA;
    margin: 30px;
    padding: 30px;
}
h2 {
    font-size: 1.5em;
    font-family: garamond;
    margin: 10px;
    padding: 15px;
}
th, td {
  border-bottom: 0.5px solid #ddd;
}
tr:hover {
  background-color: #ffdccc;
  
}
.button1 {
  background-color: #b3fff0;
  border: 10px;
  color: white;
  margin: 3px;
  padding: 2px 25px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 12px;
}

.button1:hover {
  background-color: blue;
}
.button2 {
  background-color: #ff9666;
  border: 10px;
  color: white;
  margin: 3px;
  padding: 2px 25px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 12px;
}

.button2:hover {
  background-color: blue;
}
.button3 {
  background-color: #ffcc00;
  border: 10px;
  color: white;
  margin: 3px;
  padding: 2px 25px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 12px;
}

.button3:hover {
  background-color: blue;
}
.button4 {
  background-color: lightpink;
  border: 0px;
  color: white;
  margin: 3px;
  padding: 10px 50px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 12px;
}

.button4:hover {
  background-color: blue;
}
.button5 {
  background-color: #FF0999;
  border: 0px;
  color: white;
  margin: 3px;
  padding: 10px 50px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 12px;
}

.button5:hover {
  background-color: blue;
}
.button6 {
  background-color: violet;
  border: 0px;
  color: white;
  margin: 3px;
  padding: 10px 50px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 12px;
}
.button6:hover {
  background-color: yellow;
}
a {
  color: black;
}
a:hover {
  color: hotpink;
}
.container2 {
    font-size: 1em;
    font-family: courier;
    outline: 2px solid #FF0999;
    background-color: #FFF;
    margin: 0px;
    padding: 0px;
    position:fixed;
    left:0px;
    bottom:0px;
    height:70px;
    width:100%;
}
</style>

